/* Profile */
.user-image-profile {
  margin-bottom: 20px;
  border-radius: 50%;
}

.user-profile-btn {
  cursor: default !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background-color: rgb(228, 227, 227);
}

.user-level {
  text-align: center;
  margin-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.user-tier-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Energy Header*/
.energy-section {
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 20px;
  color: #42bffb;
}

.energy-title {
  display: inline-block;
  background: #ffffff;
  text-align: center;
  color: rgb(161, 161, 161);
  font-size: 15px;
  margin-top: 20px;
}

.energy-level {
  font-size: 40px;
  color: #42bffb;
  margin-right: 25px;
}

.energy-icon {
  height: 30px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 5px;
}

/* Calendar */
* {
  margin: 0;
  border: 0;
}

.calendar-container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  float: right;
}

.calendar {
  max-width: 1260px;
  min-width: 100px;
  height: 80px;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2), 0px 3px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
  margin-top: 35px;
}
.wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 75%;
  border-radius: 8px;
}

.outer {
  padding-bottom: 30px;
}

thead {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background: white;
  border-bottom: 2px solid #ddd;
}

th {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

thead th {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

tbody {
  position: relative;
  top: 100px;
}

table {
  background: #fff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr,
tr td {
  height: 80px;
}

td {
  text-align: center;
}

tr:nth-child(odd) td:not(.headcol) {
  border-bottom: 1px solid #e8e8e8;
}

tr td {
  border-right: 1px solid #eee;
  padding: 0;
  white-space: none;
  word-wrap: nowrap;
}

/* Quiz Button, Gradient Design */
.quiz-btn {
  min-width: 50px;
  float: right;
}

.btn-gradient.blue.quiz-btn:hover {
  background: rgb(89, 134, 179);
}

.daily-quiz-title {
  padding: 5px;
  font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,
    Arial, sans-serif;
}

.btn-container,
.container {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 40px;
  height: 100px;
}

.btn.blue {
  box-shadow: 0px 4px #74a3b0;
}
.btn.blue:active {
  box-shadow: 0 0 #74a3b0;
  background-color: #709ca8;
}

.btn-gradient {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  height: 125px;
}

.btn-gradient.blue {
  background: rgba(102, 152, 203, 1);
  background: -moz-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(102, 152, 203, 1)),
    color-stop(100%, rgba(92, 138, 184, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
}

.btn-gradient.blue:active {
  background: #608fbf;
}

/* Todo list */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #bcdafd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  color: rgb(0, 0, 0);
  text-align: center;
}

.header:after {
  content: '';
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: thin solid black;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
