/* Header */
.homepage-header {
  display: flex;
  width: 100%;
}

.header-row {
  padding-right: 0px !important;
}

.header-btn-column {
  padding-right: 0px !important;
}

.bandname-header {
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.progress.user-main-progressbar {
  height: 2rem;
  width: 100%;
  margin-left: 15px;
}

.xp-progressbar {
  text-align: center;
  margin-top: 15px;
}

/* Question Cards */
.question-cards {
  display: flex;
}

/* Btn */
.btn-gradient.user-home-btn {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(233 233 233);
  justify-content: center;
  padding: 0px;
}

.user-home-btn:hover {
  background-color: rgb(224, 224, 224);
}

.btn-gradient.logout-btn {
  height: 50px;
  max-width: 150px;
  margin-top: 10px;
  background-color: rgb(233 233 233);
  color: black;
  float: right;
}

.btn-gradient.logout-btn:hover {
  background-color: rgb(224, 224, 224);
}

/* Columns */
.question-display-column {
  background-image: url('../../../Assets/question-area.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: nowrap;
  margin-top: 38px;
  padding-bottom: 15px;
}
