.list-group-item.question-list {
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  background-color: rgb(241 241 241);
}

.list-group-item.question-list:hover {
  border: rgb(151, 151, 151) normal solid;
  border-top-width: 2px;
  border-width: 2px;
  border-color: rgb(151, 151, 151);
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 2px !important;
}
