.list-group-item.question-list {
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  background-color: rgb(241 241 241);
}

.list-group-item.question-list:hover {
  border: black normal solid;
  border-color: rgb(0, 0, 0);
}
