#EasyQuestions {
  flex-direction: row;
}

@media screen and (max-width: 758px) {
  #EasyQuestions {
    flex-direction: column;
  }
}
/*  */
#MediumQuestions {
  flex-direction: row;
}

@media screen and (max-width: 758px) {
  #MediumQuestions {
    flex-direction: column;
  }
}
/*  */
#HardQuestions {
  flex-direction: row;
}

@media screen and (max-width: 758px) {
  #HardQuestions {
    flex-direction: column;
  }
}
